{% load mytags %}
<li class="nav-header">
    <div class="dropdown profile-element">
        <span id="avatar-box">
            <img alt="image" class="img-circle" width="48" height="48" src="/static/img/{{ session_role_id | to_avatar }}.png" />
            <input id="upload-avatar" type="file" accept="image/jpeg, image/x-png"/>
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">{{ session_user_id | to_name}}  <span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">
                    {{ session_user_id | get_role }} <b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            {% load url from future %}
            <li><a value="{% url 'user_profile' %}?id={{ session_user_id }}" class="iframe_user">个人信息</a></li>
            <li><a href="{% url 'user_update' %}">修改信息</a></li>
{#            {% if not user.role == 'CU' %}#}
{#                {% if request.session.role_id == 0 %}#}
{#                    <li><a href="/juser/change_role/">系统后台</a></li>#}
{#                {% else %}#}
{#                    <li><a href="/juser/change_role/">主机控制台</a></li>#}
{#                {% endif %}#}
{#            {% endif %}#}
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">注销</a></li>
        </ul>
    </div>

    <div class="logo-element">
        JS+
    </div>
</li>
<script>
    $("upload-avatar").on("change", function() {
        var file = this.files[0];
        if(!file || !/image\/\w+/.test(file.type)) {
            alert(文件格式错误，请重新选择!);
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function() {
            $("#avatar-box img").attr("src", this.result);
        };
        var fd = new FormData();
        fd.append("avatar", file);
        $.ajax({
            url: ""
            type: "POST",
            data: fd,
            success: function(data) {
                console.log(data);
            }
        });
    });
    $("#avatar-box").click(function() {
        $("#upload-avatar").click();
    });
    $(".iframe_user").on('click', function(){
        var url= $(this).attr("value");
        layer.open({
            type: 2,
            title: '个人信息',
            maxmin: true,
            shift: 'top',
            border: [2, 0.3, '#1AB394'],
            shade: [0.5, '#000000'],
            shadeClose: true,
            area : ['800px' , '600px'],
            content: url
        });
    });
</script>
